<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
    <h1>Future article:</h1>
    <h2>{{ title }}</h2>
    <p>{{ content }}</p>
    <p>By: {{ author }}</p>
</body>
</html>