<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>

<h1>Create Article</h1>
<form action="/articles/add/" method="post">

    {% csrf_token %}
   
    <label>Title:</label><br/>
    <input type="text" name="title"/><br/>

    <label>Text:</label><br/>
    <textarea name="content"></textarea><br/>
   
    <label>Author:</label><br/>
    <input type="text" name="author"/><br/>
    <br/>
    <input type="submit" value="Send"/>
</form>

</body>
</html>